################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Library.Framework/Library.Framework.JsonUtil/obj
/src/Library.Framework/Library.Framework.HttpService/obj
/.vs
/src/Library.Framework/.vs/Library.Framework/v16
/src/Library.Framework/Library.Framework.HttpService/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.JsonUtil/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.Test/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.HttpServices.SignalR/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.HttpServices.SignalR/obj/Debug/netcoreapp2.2
/src/Library.Framework/Library.HttpServices.SignalR/obj
/src/Library.Framework/.vs/Library.Framework/DesignTimeBuild
/src/Library.Framework/Library.Framework.ADO/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.ADO/obj
/src/Library.Framework/Library.Framework.MongoDB/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.MongoDB/obj
/src/Library.Framework/Library.Framework.SqlEF/bin/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.SqlEF/obj/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.SqlEF/obj
/src/Library.Framework/Library.Framework.ADO/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.Console/bin
/src/Library.Framework/Library.Framework.Console/obj/Debug/netcoreapp2.2
/src/Library.Framework/Library.Framework.Console/obj/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.Console/obj
/src/Library.Framework/Library.Framework.HttpService/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.JsonUtil/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.MongoDB/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.SqlEF/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.Test/bin/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.Test/obj/Release/netcoreapp2.2
/src/Library.Framework/Library.Framework.Test/obj/Library.Framework.Test.csproj.nuget.cache
/src/Library.Framework/Library.Framework.ADO/bin
/src/Library.Framework/Library.Framework.Commom/bin
/src/Library.Framework/Library.Framework.Commom/obj
/src/Library.Framework/Library.Framework.HttpService/bin
/src/Library.Framework/Library.Framework.JsonUtil/bin
/src/Library.Framework/Library.Framework.MongoDB/bin
/src/Library.Framework/Library.Framework.SqlEF/bin
/src/Library.Framework/Library.Framework.Helpers/obj
/src/Library.Framework/Library.Framework.Helpers/bin/Release/netcoreapp3.0
