################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Library.Framework/Library.Framework.JsonUtil/obj
